.title-container label{
    color:blue;
    font-size: 30 px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}