.logo-container{

    position:relative;
    padding: auto;
    background-color: white;
    align-self: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
